<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Our employees</title>
</head>
<body onload="loadNextEmpls()">

    <h1>Hello, Employees!</h1>

    <div class="d-flex mx-4 w-90 justify-content-between">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#create_modal">Create new record</button>
        <a href="/">List of all employees</a>
    </div>

    <table id="empl_table" class="w-90 mx-4">
        <thead>

        <tr data-toggle="buttons">
            <th scope="col">
                <label class="btn btn-outline-info w-100" onclick="setNewOrder('id')">
                <input class="d-none" type="radio" name="options" id="opt-id" autocomplete="off">
                    ID
                </label>
            </th>
            <th scope="col">
                <label class="btn btn-outline-info  w-100 active" onclick="setNewOrder('username')">
                <input class="d-none" type="radio" name="options" id="opt-username" autocomplete="off" checked>
                Username
            </label>
            </th>
            <th scope="col">
                <label class="btn btn-outline-info w-100" onclick="setNewOrder('position')">
                <input class="d-none" type="radio" name="options" id="opt-position" autocomplete="off">
                    Position
                </label>
            </th>
            <th scope="col">
                <label class="btn btn-outline-info w-100" onclick="setNewOrder('employment_date')">
                <input class="d-none" type="radio" name="options" id="opt-empl-date" autocomplete="off">
                    Employment date
                </label>
            </th>
            <th scope="col">
                <label class="btn btn-outline-info w-100" onclick="setNewOrder('salary')">
                <input class="d-none" type="radio" name="options" id="opt-salary" autocomplete="off">
                    Salary
                </label>
            </th>
            <th scope="col">
                <label class="btn btn-outline-info w-100" onclick="setNewOrder('chief')">
                <input class="d-none" type="radio" name="options" id="opt-chief" autocomplete="off">
                    Chief
                </label>
            </th>
            <th scope="col">
                <label class="btn btn-outline-info w-100" onclick="setNewOrder('login')">
                <input class="d-none" type="radio" name="options" id="opt-login" autocomplete="off">
                    Login
                </label>
            </th>
            <th scope="col">
                <label class="btn btn-outline-info w-100" role="button" aria-disabled="true">
                <input class="d-none" type="radio" name="options" id="opt-avatar" autocomplete="off" disabled>
                    Avatar
                </label>
            </th>
        </tr>
        <tr>
            <th scope="col"><input type="search" aria-describedby="inputGroup-sizing-sm" class="form-control w-100" id="search-id" placeholder="search id" onsearch="searchBy('id', this.value)"></th>
            <th scope="col"><input type="search" aria-describedby="inputGroup-sizing-sm" class="form-control w-100" id="search-username" placeholder="search username" onsearch="searchBy('username', this.value)"></th>
            <th scope="col"><input type="search" aria-describedby="inputGroup-sizing-sm" class="form-control w-100" id="search-position" placeholder="search position" onsearch="searchBy('position', this.value)"></th>
            <th scope="col"><input type="search" aria-describedby="inputGroup-sizing-sm" class="form-control w-100" id="search-employment_date" placeholder="search employment_date" onsearch="searchBy('employment_date', this.value)"></th>
            <th scope="col"><input type="search" aria-describedby="inputGroup-sizing-sm" class="form-control w-100" id="search-salary" placeholder="search salary" onsearch="searchBy('salary', this.value)"></th>
            <th scope="col"><input type="search" aria-describedby="inputGroup-sizing-sm" class="form-control w-100" id="search-chief" placeholder="search chief" onsearch="searchBy('chief', this.value)"></th>
            <th scope="col"><input type="search" aria-describedby="inputGroup-sizing-sm" class="form-control w-100" id="search-login" placeholder="search login" onsearch="searchBy('login', this.value)"></th>
        </tr>
        </thead>

        <tbody id="empl_table_body" load-offset="0" load-quantity="100" load-order="username">
        </tbody>
    </table>
    <div class="d-flex mx-4 w-90">
        <button type="button" onclick="loadNextEmpls()" class="btn btn-outline-success btn-lg btn-block">Load next</button>
    </div>



    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal_label" aria-hidden="true">
       <form id="deleteUserForm" method="POST">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="delete_modal_label">Delete user?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <span id="deleteUserMessage"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger" id="delete_modal_btn">Delete</button>
          </div>
        </div>
      </div>
       </form>
    </div>


    <div class="modal fade" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="create_modal_label" aria-hidden="true">
       <form id="createUserForm" method="POST" action="create/">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="create_modal_label">Create record</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% include "create_update_dialog_template.html" %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="create_modal_btn">Create</button>
          </div>
        </div>
      </div>
       </form>
    </div>


    <div class="modal fade" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="update_modal_label" aria-hidden="true">
       <form id="updateUserForm" method="POST">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="update_modal_label">Update record</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="update_body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="update_modal_btn">Update</button>
          </div>
        </div>
      </div>
       </form>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
    function loadNextEmpls() {
        var table_body=$("#empl_table_body")
        var load_offset = +table_body.attr("load-offset")
        var load_quantity = +table_body.attr("load-quantity")
        var load_order = table_body.attr("load-order")
        $.get("gen_list_cont/offset="+ load_offset +"&quantity="+ load_quantity + "&order_by=" + load_order, function(data, status)  {
            table_body.append(data);
            table_body.attr("load-offset", function( i, val ) {
                return +val + load_quantity;
            })
        });
    }

    function setNewOrder(order_by) {
        var table_body=$("#empl_table_body")
        var load_order = table_body.attr("load-order")
        if (order_by == load_order) {
            return
            };
        table_body.attr("load-order", order_by)
        table_body.attr("load-offset", "0")
        $("#empl_table_body tr").remove();
        loadNextEmpls()
    }

    function searchBy(field, searchValue) {
        var search_fields = ["id", "username", "position", "employment_date", "salary", "chief", "login"]
        for (f in search_fields) {
            if (field != search_fields[f]) {
                $("#search-"+search_fields[f]).val("")
            }
        }
        if (searchValue == "") {
            return
            };
        var table_body=$("#empl_table_body")
        $("#empl_table_body tr").remove();
        $.get("search/field="+field+"&value="+searchValue, function(data, status)  {
            table_body.append(data);
            table_body.attr("load-offset", "0")
        });
    }

    $('#delete_modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var empl_id = button.data('empl-id')
        $("#deleteUserMessage").html("Do you want to delete user #"+empl_id+"?")
        $('#deleteUserForm').attr("action", "delete/id=" + empl_id)
    });

    $('#update_modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var empl_id = button.data('empl-id')
        update_body = $("#update_body")

        $('#updateUserForm').attr("action", "update/id=" + empl_id)
        $.get("update/id="+empl_id, function(data, status)  {
            update_body.html(data);
        });
    });
</script>
</body>
</html>