<div class="accordion ml-4" id="accordion_layout{{ chief_id }}" >
        {% for empl in employees %}
      <div class="card">
        <div class="card-header" id="heading{{ empl.id }}">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#elem{{ empl.id }}"
                    aria-expanded="false" aria-controls="collapseOne">
              #{{ empl.id }}   {{ empl.username }}   ▼
            </button>
          </h5>
        </div>
        <div id="elem{{ empl.id }}" data-empl-id="{{ empl.id }}"
             subs-loaded="false" class="collapse" aria-labelledby="heading{{ empl.id }}"
             data-parent="#accordion_layout{{ chief_id }}">
          <div class="d-flex flex-column align-items-start ml-5 mt-2">
            <h6>{{ empl.position }}</h6>
            <!--<p><u>Subordinates:</u></p>-->
          </div>
        </div>
      </div>
        {% endfor %}

    <script>
    $('#accordion_layout{{ chief_id }}').on('shown.bs.collapse', function (event) {
        var collapse = $(event.target)
        var subs_loaded = collapse.attr("subs-loaded")
        if (subs_loaded=='true') {
            return
        }

        var empl_id = collapse.data("empl-id")

        $.get("subordinates/"+empl_id, function(data, status)  {
            // 'shown.bs.collapse' could be called multiple times
            var is_loaded = collapse.attr("subs-loaded")
            if (is_loaded == 'false') {
                console.log("Sub for [ " + empl_id + " ] loaded from ( " + collapse.attr("id") +" )")
                collapse.attr("subs-loaded", "true")
                collapse.append(data)
            }
        });
    });
    </script>
</div>
